<!DOCTYPE html>
<html>
<head>
	<title>Thông Tin Đơn Hàng Của Khách Hàng:{{CustomerName}}</title>
</head>
<body>
    Xin chào {{CustomerName}} !!!<br />
    Cảm ơn Anh/chị đã đặt hàng tại SWE!
    <p>Đơn hàng của Anh/chị đã được tiếp nhận, chúng tôi sẽ nhanh chóng liên hệ với Anh/chị.</p>
    <table style="border-top:1px solid gray; text-align:left; font-size:12px;">
        <tr>
            <th>Thông tin đơn hàng</th>
            <th>Địa chỉ nhận hàng</th>
        </tr>
        <tr>
            <td>{{CustomerName}}</td>
            <td>{{CustomerName}}</td>
        </tr>
        <tr>
            <td>{{Phone}}</td>
            <td>{{Phone}}</td>
        </tr>
        <tr>
            <td>{{Email}}</td>
            <td>{{Address}}</td>
        </tr>
        <tr>
            <td>{{Address}}</td>
            <td></td>
        </tr>
        <tr>
            <th>Hình thức thanh toán</th>
            <th>Hình thức vận chuiyển</th>
        </tr>
        <tr>
            <td>Thanh toán khi giao hàng (COD)</td>
            <td>GHTK</td>
        </tr>
        <tr>
            <th>Thông tin đơn hàng</th>
            <th></th>
        </tr>
        <tr>
            <td>Mã đơn hàng: #{{ID}}</td>
            <td>Ngày đặt hàng: {{CreateDate}}</td>
        </tr>
        <tr>
            <td>{{NameProduct}}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{Price}} VNĐ × {{soluong}}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{Total}} VNĐ</td>
            <td></td>
        </tr>
    </table>
    Cảm ơn quý khách đã luôn tin tưởng và ủng hộ SWE !!! <br />
    Nếu bạn có bất cứ câu hỏi nào, đừng ngần ngại liên lạc với chúng tôi tại truongviethieu98@gmail.com
</body>
</html>